<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= product.title %></h1>
            <hr>
            <div class="image">
                <img src="<%= process.env.AWS_ROOT_PATH + product.imageUrl %>" alt="<%= product.title %>">
            </div>
            <h2>￥ <%= product.price %></h2>
            <p><%= product.description %></p>
            <% if(isAuthenticated){ %> 
                <%- include('../includes/add-to-cart.ejs',{product:product}) %> 
                <!-- includeに変数を渡したいときは第２引数にオブジェクトでセットする -->
                <% } %> 
        </main>
        <%- include('../includes/end.ejs') %>